![ReadMe Header](/images/JustinBanner.png)
# Hello Everyone!! :sauropod:

My name is {{name}}. I am a software developer.

## Current Skills & Explorations

{{#skills}}
![](https://img.shields.io/badge/{{wordOnLeft}}-{{wordOnRight}}-informational?style=flat&logo={{logo}}&logoColor=white&color={{color}})
{{/skills}}

## GitHub stats

[![Justin's GitHub stats](https://github-readme-stats.vercel.app/api/top-langs?username=jkishbaugh&count_private=true&show_icons=true&theme=highcontrast)](https://github.com/anuraghazra/github-readme-stats)

